<p>Tohle už je trochu rozšířená verze greyboxu, s několika novými funkcemi a asi i novými chybami. Příjemnou zábavu.<br />
Na chyby si stěžujte v <a href="http://sourceforge.net/tracker/?group_id=108503&amp;atid=650817">Bugzille</a>.<br />
O login si požádejte nějakého <a href="./?page=lide&amp;kdo=spravci">správce</a>, který může upravovat účty.<br /> -- Petr Novák.</p>