<p>A somewhat improved greybox version. Have fun.<br />You can file your problems into <a href="http://sourceforge.net/tracker/?group_id=108503&amp;atid=650817">Bugzilla</a>.<br />For account, ask any of <a href="./?page=lide&amp;kdo=spravci">admins</a> that can edit accounts. P.N.</p>