<?php
/*
 * greybox
 * $Id: config.inc.example,v 1.1 2005/01/15 13:43:31 che0 Exp $
 */

$GLOBALS["cp_config"]["db_server"] = "localhost";
$GLOBALS["cp_config"]["db_database"] = "greybox";
$GLOBALS["cp_config"]["db_user"] = "greybox";
$GLOBALS["cp_config"]["db_password"] = "greybox";

$GLOBALS["cp_config"]["title"] = "greybox";

$GLOBALS["cp_config"]["default_season"] = 4; // = 2004/2005

?>
