body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	margin: 0px;
	background-image: url('images/leftbg.png');
	background-repeat: repeat-y;
	background-position: top left;
}

th {
	text-align: left;
}

a {
	color: #0000ff;
	text-decoration: underline;
}

div#main_title {
	height: 44px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #fdfffc;
	background-image: url('images/titlebg.png');
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #cbcdca;
}

span#main_title_text {
	display: block;
	position: absolute;
	top: 20px;
	left: 217px;
	font-size: x-large;
	font-weight: bold;
}

div#leftblock {
	float: left;
	width: 180px;
	padding: 10px;
}

div#leftblock p.link {
	margin-top: 0px;
	margin-bottom: 0px;
}

div#mainbody {
	margin-left: 200px;
	padding: 10px;
}

div#footnote {
	margin-top: 20px;
	font-size: x-small;
	color: #dbddda;
}
div#footnote a {
	text-decoration: none;
	color: #cbcdca;
}

table.visible td, table.visible th {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #cbcdca;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
}

td.sieg, th.sieg {
	background-color: #dcffd5;
}

tr.inactive {
	color: #aaaca9;
}

tr.inactive a {
	color: #7980ff;
	text-decoration: underline;
}

form span.desc, p.note {
	font-size: small;
}

form span.p_h2 {
	display: block;
	font-size: 1.2em;
	padding-top: 7px;
}

form p {
	margin-top: 3px;
	margin-bottom: 3px;
}

.achtung {
	background-color: #ffc5c5;
	margin-bottom: 5px;
}
