body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	margin: 0px;
	background-image: url('images/leftbg.png');
	background-repeat: repeat-y;
	background-position: top left;
}

th {
	text-align: left;
}

a {
	color: #0000ff;
	text-decoration: underline;
}

img {
	border: none;
}

div#main_title {
	/* main title area */
	height: 44px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #fdfffc;
	background-image: url('images/titlebg.png');
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #cbcdca;
}

div#main_title img#logo_main {
	/* main logo */
	width: 288px;
	height: 44px;
}

div#main_title img#logo_right {
	/* supplemental logo */
	float: right;
	margin-right: 5px;
	width: 88px;
	height: 44px;
}

div#main_title span#main_title_text {
	/* page title text */
	display: block;
	position: absolute;
	top: 20px;
	left: 217px;
	font-size: x-large;
	font-weight: bold;
}

div#leftblock {
	/* left navigation block */
	float: left;
	width: 180px;
	padding: 10px;
}

div#leftblock div#infoblock {
	margin-bottom: 10px;
}

div#leftblock span#language_info,
div#leftblock span#season_info {
	margin-top: 0px;
	margin-bottom: 0px;
}

div#leftblock p#login_info  {
	margin-top: 3px;
}

div#leftblock p#links a {
	display: block;
	margin-left: -5px;
	margin-right: -10px;
	padding-left: 5px;
	padding-right: 10px;
}

div#leftblock p#links a.active {
	background-color: white;
	margin-right: -11px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #cbcdca;
	border-top-style: dotted;
	border-top-width: 1px;
	border-top-color: #cbcdca;
	border-left-style: dotted;
	border-left-width: 1px;
	border-left-color: #cbcdca;
}

div#leftblock p#links a:hover,
div#leftblock p#links a.active:hover {
	background-color: #edf6f8;
}

div#mainbody {
	/* main body area */
	margin-left: 200px;
	padding: 10px;
}

div#mainbody div#footnote {
	/* footnote in the main body area */
	margin-top: 20px;
	font-size: x-small;
	color: #adafac;
}

div#mainbody div#footnote a {
	text-decoration: none;
	color: #9a9c9a;
}

div#mainbody div#footnote a:hover {
	color: #898997;
}

table td, table th {
	/* styles for tables that should be visible */
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #cbcdca;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
}

table tr:hover {
	background-color: #edf6f8;
}

td.sieg, th.sieg {
	/* emphasis of the winning team in debate info table */
	background-color: #dcffd5;
}

table tr:hover td.sieg,
table tr:hover th.sieg {
	background-color: #bcffd8;
}

td.points {
	/* cell with points */
	text-align: right;
}

tr.inactive {
	/* de-emphasized row */
	color: #aaaca9;
}

tr.inactive a {
	color: #7980ff;
	text-decoration: underline;
}

tr.special {
	/* special row */
	color: #00900E;
}

tr.special a {
	color: #009E3A;
	text-decoration: underline;
}

tr.special.inactive {
	/* combination */
	color: #7DBE71;
}

tr.special.inactive a {
	color: #4D9E7C;
	text-decoration: underline;
}

tr.achtung td:first-child {
	border-left: 3px solid red;
}

tr.small_achtung td:first-child {
	border-left: 2px solid #D7E200;
}

tr.hr td,
tr.hr th {
	border-top: 1px dotted #cbcdca;
}


form span.desc, p.note {
	font-size: small;
}

form span.p_h2 {
	display: block;
	font-size: 1.2em;
	padding-top: 7px;
}

form div.in_form {
	/* div contained in the form element */
}

form p {
	margin-top: 3px;
	margin-bottom: 3px;
}

div.form_hidden {
	/* div with by default hidden form */
}

div.form_hidden select,
div.form_hidden input,
div.form_hidden textarea {
	background-color: #ddffd8;
}

div.achtung {
	background-color: #ffc5c5;
	margin-bottom: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 3px;
}

div.warning {
	background-color: #fffdb9;
	margin-bottom: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 3px;
}

p.cp_switch {
	margin-top: 10px;
	margin-bottom: 10px;
}

p.komentar {
	/* komentar k entite */
}

p.komentar span.achtung {
	/* achtung blok - entita je divna */
	display: block;
	border: 1px solid red;
	padding-right: 3px;
	padding-left: 3px;
	font-weight: bold;
	color: red;
}

p.komentar span.achtung span.achtung {
	/* vlastni achtung */
	display: inline;
	border: none;
	color: white;
	background-color: red;
	margin-left: -3px;
	padding-left: 3px;
	padding-right: 5px;
}

form {
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

form:hover {
	border: 1px dotted #cbcdca;
	background-color: #f6fff6;
}